node_modules
.next
#data/*.xlsx
!.gitkeep
!data/templates/**
data/step-photos/*
!data/step-photos/.gitkeep
data/step-note-files/*
!data/step-note-files/.gitkeep
data/user-photos/*
!data/user-photos/.gitkeep
.env*
.env.local
.env*.local
